<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of allProducts.products | paginate:{itemsPerPage: 9, currentPage:p}">
            <div class="card h-100">
                <a href="" [routerLink]="['/product', item.id]"><img [ngStyle]="{'background-size':'cover', 'height':'348px'}" class="card-img-top" src="../../assets/img/{{item.image_of_product__image}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="" [routerLink]="['/product', item.id]">{{item.name}}  </a>
                    </h4>
                    <h5>$ {{item.price}}</h5>
                    <p class="card-text">Description: {{ (item.description.length > 100) ? (item.description | slice:0:100)+'..' : (item.description) }}</p>
                    <h5 [ngStyle]="{'color': 'red'}" *ngIf="item.stock == 0; else outOfStock">Out Of order!</h5>
                    <ng-template #outOfStock>
                        <h5 [ngStyle]="{'color': 'red'}" *ngIf="item.stock > 5; else lessThanFive"></h5>
                    </ng-template>
                    <ng-template #lessThanFive>
                        <h5 [ngStyle]="{'color': 'red'}">Will be out soon!</h5>
                    </ng-template>
                
                </div>
                <div class="card-footer">
                    <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                    <button class="btn btn-outline-link" [disabled]="item.stock == 0" (click)="productToCart(item)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<pagination-controls class="pagination-style" (pageChange)="p=$event"
    maxSize="10"
    directionLinks="true"
    autoHide="true"
    responsive="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>