<div *ngIf="oneProduct" class="container" style="margin: 0 auto;">
    
    <div class="images">
        <img src="https://cdn.pixabay.com/photo/2018/05/28/22/11/message-in-a-bottle-3437294__340.jpg" style="margin: 50px"alt="">
    </div>
    <div class="productsDescription">
        <h2>{{oneProduct.name}}</h2>
        <h3>$ {{oneProduct.price}}</h3>
        <p>Product Quantity: {{oneProduct.stock}} delete later</p>
        <p class="outStock" *ngIf="oneProduct.stock == 0 else elseblock" > Out of Stock</p>
        <ng-template #elseblock>
           <p>In Stock</p>
        </ng-template>
        <p>Product Description: {{oneProduct.description}}</p>
        <form>
            <button [disabled]="oneProduct.stock == 0" class="btn btn-outline-info" >Add to Cart</button>
            <button [disabled]="oneProduct.stock == 0" class="btn btn-outline-success" >Buy It now</button>
        </form>
    </div>
</div>