<div *ngIf="oneProduct" class="container-fluid">
    <div class="row">
        <div class="col-5 images" [ngStyle]="{'height': '35em'}">
            <img src="../../assets/img/{{oneProduct.image[0].image}}" [ngStyle]="{'width' : '100%', 'height': '100%'}" alt="">
            <!-- <img src="../../../src/assets/img/{{oneProduct.image[0].image}}" [ngStyle]="{'width' : '100%', 'height': '100%'}" alt=""> -->
            <!-- <img src="{{oneProduct.image[0].image}}" [ngStyle]="{'width' : '100%', 'height': '100%'}" alt=""> -->
        </div>
        <div class="col-7 productsDescription">
            <div>
                <h2>{{oneProduct.product[0].name}}</h2>
                <h4>$ {{oneProduct.product[0].price}}</h4>
                <p>Product Quantity: {{oneProduct.product[0].stock}}</p>
                <p class="outStock" *ngIf="oneProduct.stock == 0 else elseblock" > Out of Stock</p>
                <ng-template #elseblock>
                   <p>In Stock</p>
                </ng-template>
                <p [ngStyle]="{'word-wrap': 'break-word'}">Product Description: {{oneProduct.product[0].description}}</p>
                <button [disabled]="oneProduct.stock == 0" class="btn btn-outline-info" (click)="productToCart(oneProduct)" >Add to Cart</button>
                <!-- <button [disabled]="oneProduct.stock == 0" class="btn btn-outline-info" (click)="productToCart(oneProduct.id)" >Add to Cart</button> -->
                <button [disabled]="oneProduct.stock == 0" class="btn btn-outline-success">Buy It now</button>
                <button class="btn btn-outline-dark" *ngIf="oneUser && oneUser.first_name=='admin'" [routerLink]="['edit']" >Edit</button>
            </div>
        </div>
    </div>
</div>