<div class="container">
    <h1 class="cart-head" >Your Shopping Cart</h1>
    <form (submit)="onSubmitCart()" *ngIf="allProducts?.length > 0; else elseBlock">
        <table class="table">
            <thead>
                <tr>
                    <th class="first" colspan="2">Product Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of allProducts">
                    <td [ngStyle]="{'text-align':'left'}">{{product.name}}</td>
                    <td>$ {{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>$ {{product.price * product.quantity | number : '1.2-2'}} </td>
                </tr>
                <tr>
                    <td colspan="4" [ngStyle]="{'text-align':'right'}">total : ${{totalPrice | number : '1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="checkout">
            <button type="button" class="btn btn-outline-danger btn-lg" (click)="deleteCart()" >Delete Cart</button>
            <button type="submit" class="btn btn-outline-info btn-lg">Checkout</button>
        </div>
    </form>
</div>
<ng-template #elseBlock>
    <div class="emptyCart">
        <h4>You don't have any items in your cart yet. <a href="" [routerLink]="['/shop']"> Continue shopping.</a></h4>
        
    </div>
</ng-template>