<div class="container">
    <h1 class="cart-head" >Your Shopping Cart</h1>
    <form (submit)="onSubmitCart()" *ngIf="allProducts?.length > 0; else elseBlock">
        <table class="table">
            <thead>
                <tr>
                    <th class="first" colspan="2">Product Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of allProducts">
                    <td [ngStyle]="{'text-align':'left'}">( {{product.name}} )</td>
                    <td>$ {{product.price}}</td>
                    <td>quantity - +</td>
                    <td>$ (total price) </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="checkout">
        <button>Checkout</button>
        <button (click)="deleteCart()" >Delete Cart</button>
    </div>
</div>
<ng-template #elseBlock>
    <div class="emptyCart">
        <h4>You don't have any items in your cart yet. <a href="" [routerLink]="['/shop']"> Continue shopping.</a></h4>
        
    </div>
</ng-template>