.cart-head {
    text-align: center;
    margin:0.5em;
    padding:0.5em;
}
.table {
    text-align: right;
}
thead {
    border-top:hidden;
}
h4 {
    text-align: center;
    padding:2em;
    margin:2em;
}
.container {
    margin-bottom: 20em;
}
div.checkout {
    text-align: right;
}
div.checkout button {
    margin:0.8em
}