<div class="container">

    <h1>Product List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Stock</th>
                <th>Product Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of allProducts | paginate:{itemsPerPage: 10, currentPage:p}">
                <td>{{p.name}}</td>
                <td class="b">{{ (p.description.length > 20) ? (p.description | slice:0:20) + '  ...' : (p.description) }}</td>
                <td>{{p.price}}</td>
                <td>{{p.stock}}</td>
                <td>{{p.category}}</td>
                <td><button class="btn btn-outline-primary" [routerLink]="['/product', p.id]">View</button> | <button class="btn btn-outline-info" [routerLink]="['/product', 'edit', p.id]">Edit</button> | <button (click)="deleteProduct(p.id)" class="btn btn-outline-danger" >Delete</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="pagination-style" (pageChange)="p=$event"
    maxSize="10"
    directionLinks="true"
    autoHide="true"
    responsive="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"></pagination-controls>
    <h1>User Order List</h1>
    <a class="nav-1" [routerLink]="['/']">Home</a>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Order</th>
                <th>Order Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Order Name</td>
                <td>Detail</td>
            </tr>
        </tbody>
    </table>
    
    <h2>Upload Product</h2>
    <form (submit)="onSubmit()" class="form-group col-8">
        <div class="form-row">
            <div class="form-label-group col">
                <input name="newProduct.name" [(ngModel)]="newProduct.name" #name="ngModel" type="text" placeholder="Product Name" class="form-control" required autofocus>
                <label for="">Product Name</label>
            </div>
            <div class="form-label-group col">
                <input name="newProduct.price" [(ngModel)]="newProduct.price" #price="ngModel" type="number" placeholder="Product Price" class="form-control" required autofocus step="any" >
                <label for="">Product Price</label>
                
            </div>
            <div class="form-label-group col">
                <input name="newProduct.stock" [(ngModel)]="newProduct.stock" #stock="ngModel" type="number" placeholder="Product Stock" class="form-control" required autofocus>
                <label for="">Product Stock</label>
            </div>
            <div class="form-label-group col">
                <input name="newProduct.category" [(ngModel)]="newProduct.category" #category="ngModel" type="text" placeholder="Category" class="form-control" required autofocus>
                <label for="">Category</label>
            </div>
        </div>
        <div class="form-label-group">
            <textarea name="newProduct.description" [(ngModel)]="newProduct.description" #description="ngModel" placeholder="Product Description" class="form-control" cols="30" rows="10" required autofocus></textarea>
        </div>
        <!-- <div class="custom-file">
            <input name="newProduct.file" [(ngModel)]="newProduct.file" #file="ngModel" id="inputGroupFile01" type="file" class="custom-file-input">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div> -->
        <button class="btn btn-outline-primary" type="input">Create Product</button>
    </form>
</div>