<div class='login'>
  <!-- {{loginUser | json }} -->
  <form (submit)="onSubmit()" class="form-group col-3 form-signin card animated fadeInRight">
    <h1>Log In</h1>
    <div class="form-label-group">
        <input type="text" name="loginUser.email" [(ngModel)]="loginUser.email" required [(ngModel)]="loginUser.email" #email="ngModel" class="form-control sm-3" placeholder="Email" required autofocus>
      <small *ngIf="!email.valid && !errors.login_email" class="form-text text-muted">* Email is required</small>
      <small *ngIf="errors.login_email">* {{errors.login_email}}</small>
      <label>Email</label>
    </div>
    <div class="form-label-group">
      <input type="text" name="loginUser.password" [(ngModel)]="loginUser.password" required [(ngModel)]="loginUser.password" #password="ngModel" class="form-control sm-3" placeholder="Password" required autofocus>
      <small *ngIf="!password.valid && !errors.password && !errors.login_password && !errors.login_email" class="form-text text-muted">* Password is required</small>
      <small *ngIf="errors.password">* {{errors.password}}</small>
      <small *ngIf="errors.login_password">* {{errors.login_password}}</small>
      <label>Password</label>
    </div>
      <button class="btn btn-outline-info">Log In</button>
      <button class="btn btn-outline-info" [routerLink]="['/']">Cancel</button>
  </form>
</div>