
.pagination-style /deep/ .ngx-pagination {
    text-align: center;
}

.pagination-style /deep/ .ngx-pagination a {
    text-align: center;
    color: #51AEC8;
}

button {
    border: none;
    color: rgb(162, 176, 212);
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    outline:none;
}
button:hover {
    color:#007bff;
}